* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 400px;
}

.top_bar {
    width: 100%;
    display: flex;
    align-items: center;
    height: 100%;
    background-color: white;
    position: relative;
}


.logo img {
    border-radius: 10px;
    width: 130px;
    text-align: center;
    margin: 10px 30px;
}

.search {
    color: blue;
    margin-left: 10px;
    width: 40%;
}

form input[type=text] {
    width: 500px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid rgb(202, 200, 198);
}
form input[type=date] {
    width: 500px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid rgb(202, 200, 198);
}
form input[type=email] {
    width: 500px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid rgb(202, 200, 198);
}
form input[type=number]{
    width: 500px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid rgb(202, 200, 198);
}
form input[type=password]{
    width: 500px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid rgb(202, 200, 198);
}
form .desc_sanpham select> option{
    width: 500px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid rgb(202, 200, 198);
}
nav{
    display: grid;
    grid-template-columns: 20% 70%;
}
.sidenav {
    width: 80%;
    margin-left: 30px;
    
}

ul li {
    list-style: none;
    height: 60px;
    margin: 10px;
    padding: 5px;
    font-size: 20px;
    border: 1px solid white;
}


.menu ul li a {
    text-decoration: none;
    margin-left: 10px;
    color: black;
}
ul li:hover{
    background-color: rgb(244, 121, 121);
    border-radius: 10px;
}
ul li a:hover{
    color: white;
    font-weight: 900;
}
ul li a:active{
    color: rgb(169, 133, 67);
    font-weight: 900;
}
.add-new{
    border: 1px solid white;
    width: 100%;
    height: 20%;
}
.add-new #button{
    border: 1px solid white;
    float: right;
    background-color: rgb(92, 213, 92);
    width: 180px;
    height: 50px;
    margin-top: 8px;
    border-radius: 10px;
}
.add-new #button a{
    text-decoration: none;
    color: white;
    font-size: 15px;
    font-weight: 900;
}
.product{
    /* border: 1px solid white; */
    height: 100%;
    /* background-color: green; */
}
.clear{
    clear: both;
}