* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 400px;
}

.top_bar {
    width: 100%;
    display: flex;
    align-items: center;
    height: 100%;
    background-color: white;
    position: relative;
}


.logo img {
    border-radius: 10px;
    width: 130px;
    text-align: center;
    margin: 10px 30px;
}

.search {
    color: blue;
    margin-left: 10px;
    width: 40%;
}

form input[type=text] {
    width: 600px;
    height: 35px;
    border-radius: 5px;
    border: 1px solid rgb(202, 200, 198);
    padding-left: 5px;
    margin-top: 5px;
}
form input[type=date] {
    width: 600px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid rgb(202, 200, 198);
}
form input[type=email] {
    width: 600px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid rgb(202, 200, 198);
}
form input[type=number]{
    width: 500px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid rgb(202, 200, 198);
}
form input[type=password]{
    width: 600px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid rgb(202, 200, 198);
}
form .desc_sanpham select> option{
    width: 500px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid rgb(202, 200, 198);
}
nav{
    display: grid;
    grid-template-columns: 20% 70%;
}
.sidenav {
    width: 80%;
    margin-left: 30px;
    
}

ul li {
    list-style: none;
    height: 60px;
    margin: 10px;
    padding: 5px;
    font-size: 20px;
    border: 1px solid white;
}


.menu ul li a {
    text-decoration: none;
    margin-left: 10px;
    color: black;
}
ul li:hover{
    background-color: rgb(244, 121, 121);
    border-radius: 10px;
}
ul li a:hover{
    color: white;
    font-weight: 900;
}
ul li a:active{
    color: rgb(169, 133, 67);
    font-weight: 900;
}
.add-new{
    border: 1px solid white;
    width: 100%;
    height: 20%;
}
.add-new #button{
    border: 1px solid white;
    float: right;
    background-color: rgb(92, 213, 92);
    width: 180px;
    height: 50px;
    margin-top: 8px;
    border-radius: 10px;
}
.add-new #button a{
    text-decoration: none;
    color: white;
    font-size: 15px;
    font-weight: 900;
}
.product{
    /* border: 1px solid white; */
    height: 100%;
    /* background-color: green; */
}
.clear{
    clear: both;
}
form{
    width: 600px;
    margin: auto;
}
form p{
    margin-top: 10px;
   font-size: 18px;
   font-weight: 300;
   font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.categoryid{
    margin-left: 220px;
}
.ram  {
    margin-top: 5px;
    width: 400px;
    height: 35px;
}
.button_user input{
    width: 200px;
    margin-left:200px ;
    height: 35px;
    text-align: center;
    margin-top: 20px;
    border: 1px solid #e1e1e1;
 
    border-radius: 5px;
    background: #243a76;
    font-size: 14px;
    font-weight: 500;
    color: #fff;
}



.add-tool input{
    width: 120px;
    height: 40px;
    margin-bottom: 30px;
    margin-top: 20px;
    margin-right: 5px;
    border-radius: 10px;
    background-color:  rgb(92, 213, 92);
    color:white;
    font-size: 15px;
    border: 1px solid  rgb(92, 213, 92)     ;
}
.nhapthem{
   margin-left: 500px;
}
tbody{
    text-align: center;
}
.list-produt{
    width: 1100px;
    margin: auto;
    text-align: center;
}
tbody input{
    width: 60px;
    height: 20px;
    background-color:  rgb(92, 213, 92);
    color:white;
    font-size: 15px;
    border: 1px solid  rgb(92, 213, 92)     ;
    border-radius: 10px;
    margin-top: 5px;
    height: 20px;
}
form .keyw{
    width: 200px;
    height: 10px;
    margin-top: 200px;
}
.user h4{
    margin-top: 5px;
    margin-bottom: 2px;
}
.pass input{
    width:500px ;
}
.email1 {
    width:600px;
    padding-left: 5px;
}