* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    margin: auto;
   
}

/*--------------------------------Header----------------------------------*/
.logo {
    margin-left: 25px;
}

header {
    background-color: white;
}

.search form {
    display: flex;
    align-items: center;
}

.icon_search {
    width: 50px;
    height: 40px;
    border: 1px solid #91c32f;
    background-color: #91c32f;
    border-radius: 0 10px 10px 0;
}

.icon_search>label>i {
    margin-left: 15px;
    margin-top: 9px;
}

.search>form>input {
    height: 40px;
    padding-left: 10px;
    width: 350px;
    border: 1px solid rgb(212, 212, 212);
}

.logo_search_order {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.login_cart {
    margin-right: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.login_cart div a:hover {
    color: #91c32f;
}

.icon_user a {
    align-items: center;
    display: flex;
    text-decoration: none;
}

.icon_user>a>p {
    margin: -2px;
}

.icon_user>a>.icon_logo>i {
    margin-left: 9px;
    margin-top: 7px;
    color: white;
    /* background-color: #91c32f; */
    /* background-position: 15px -15px; */
}

.icon_logo {
    border-radius: 2px;
    margin-right: 15px;
    margin-top: 3px;
    width: 30px;
    height: 30px;
    background-color: #91c32f;
}

/* .icon_user a {
    display: flex;
    text-decoration: none;
} */

.sign {
    display: inline-block;
    vertical-align: middle;
    text-align: left;
    width: 40%;
}

.oder_icon_card>i {
    margin-left: -9px;
    margin-top: 7px;
    color: white;
}

.oder_icon_card {
    border-radius: 2px;
    margin-right: 15px;
    margin-top: 3px;
    width: 30px;
    height: 30px;
    background-color: #91c32f;
}

#link {
    display: flex;
    align-items: center;
    text-decoration: none;
}

#link>div:nth-child(1) {
    padding: 0 15px;
}

.quantity {
    text-align: center;
}

header nav {
    margin-top: 15px;
    text-align: center;
    border-top: 1px solid rgb(212, 212, 212);
    width: 100%;
    height: 40px;

}

header nav ul {
    justify-content: center;
    display: flex;

}

nav {
    margin: auto;
    width: 100%;
}

nav ul li {
    padding: 10px 32px;
    list-style: none;
}

nav li a {
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

nav ul li:first-child a {
    color: #91c32f;
}

nav li a:hover {
    color: #91c32f;
}

header {
    width: 100%;
    right: 0;
    left: 0;
    top: 0;
    position: fixed;
    margin: auto;
    z-index: 1;
}

/*--------------------------------Animation slideshow-------------------------------*/
body{
    overflow-x: hidden;
    height: auto;
}
.main{
    width: 100%;
    margin: auto;
    text-align: center;
}

.title_slide {
    text-align: center;
}

.title_slide h1 {
    color: rebeccapurple;
    font-size: 50px;

}

.title_slide p {
    font-size: 22px;
    margin-top: 15px;
    font-size: 20px;
    color: red;
}

.full-body {
    width: 1500px;
    margin: auto;
}

.body{
    margin-top: 100px;
    text-align: center;
   margin: auto;

    transform: translate(28%, 20%);
    width: 1000px;
    height: 600px;
    padding: 50px;
    background-color: #f5f5f5;
    box-shadow: 0 30px 50px #bdbdbd;
}

.slide_show {
    width: max-content;
    margin-top: 55px;
    overflow: hidden;
}

.item {
    width: 400px;
    height: 280px;
    background-position: 50%, 50%;
    display: inline-block;
    transition: 1s;
    /* background-size: 90%; */
    position: absolute;
    z-index: 1;
}

.item:nth-child(1) {
    transform: translate(-160%);
    opacity: 0;
    background-position: 0% 50%;
}

.item:nth-child(2) {
    transform: translate(-50%);
    background-position: 20% 50%;
}

.item:nth-child(3) {
    transform: translate(60%);
    background-position: 50% 50%;
}

.item:nth-child(4) {
    transform: translate(170%);
    background-position: 80% 50%;
}

.item:nth-child(n+5) {
    transform: translate(280%);
    opacity: 0;
    background-position: 100% 50%;
    /* display: none; */
}

.item .content {
    overflow: hidden;
}

#prev i {
    font-size: 40px;
}

#next i {
    font-size: 40px;
}

.buttons button {
    border: none;
    background-color: rgb(248, 244, 244);
    /*màu của background slide*/
}

/*--------------------------------------Category-----------------------------------*/
.product_category {
    width: 100%;
    margin-top: 250px;

}

.tile_buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.line {
    margin-top: 10px;
    width: 100%;
    height: 1px;
    border: 1px solid rgb(212, 212, 212);
    background-color: rgb(212, 212, 212);
}

.buttons_category {
    display: flex;
    margin-right: 25px;
}

#truoc {
    margin-right: 10px;
}

#sau {
    margin-left: 10px;
}

.buttons_category button {
    border: none;
    background-color: white;
}

.buttons_category button i {
    font-size: 28px;
}

.seperate {
    border-right: 1px solid black;
}

.title_cate {
    margin-left: 25px;
}

.status_product ul li {
    font-size: 24px;
    display: inline-block;
    padding: 0 15px;

}
.status_product{
    margin-right: 150px;
}

.status_product li a{
    align-items: center;
    border-radius: 34px;
    background-color: #fff;
    justify-content: center;
    display: flex;
    height: 34px;
    padding: 0 14px;
    border: 2px solid #fff;
}
.status_product img{
    border: 0;
}
.status_product a:hover{
    border: 3px solid  greenyellow;
}






/* @import url('https://fonts.googleapis.com/css?family=Fira+Sans+Extra+Condensed:400,700');
*/
/*-------------------------------------------Most Product-------------------------------*/
.list_product_popalar{
    margin-top: 30px;
    width: 100%;
    display: grid;
     grid-template-columns:1fr 1fr 1fr 1fr 1fr;
     gap: 10px;
     margin: auto;
    
}

.pro-full{
    width:1200px;
    margin: auto;
    margin-top: 100px;
}
.snip1583{
    width: 100%;
    background-color: white;
    border: 1px solid #f3f3f3;
}
.img-zoom{
    text-align: center;
}
.snip1583 img{
    text-align: center;
    width: 180px;
    margin-top: 15px;
}
.snip1583 h3{ 
    position: relative;
    display: inline-block;
    overflow: hidden;
    padding-left: 15px;
    font-size: 20px;
    line-height: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 5px;
    line-height: 1.2em;
    text-align: left;
    margin-left: 44px;
   
    border-radius: 10px;

}
.snip1583:hover{
    box-shadow: 5px 5px 8px #888888;

}
.snip1583 *,
.snip1583 *:before,
.snip1583 *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
}
.snip1583:hover{
    box-shadow: 5px 5px 8px #888888;

}

.snip1583 img {
    max-width: 100%;
    vertical-align: top;
    transition: all 2s ease;
}

.snip1583 img:hover {
    transform: scale(1.2);
    cursor: pointer;

}

.snip1583 .img-zoom {
    display: block;
    overflow: hidden;
}
.snip1583 figcaption {
    padding: 10px;
}

.snip1583 h3 {
    font-size: 1.4rem;
    font-weight: 400;
    margin: 0 0 4px;
}
.snip1583 h5{
    position: relative;
    margin-top: -20px;
}

.snip1583 .price {
    padding-left: 15px;
    color: red;
    margin: 8px 0;
    font-weight: 600;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}

.full1{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}
.ram {
    width: 100%;
    padding-left: 15px;
}
.ssd{
    width: 100%;
    padding-right:15px ;
}
.ram p,.ssd p{
    border: 1px solid #eaeaea;
    background: #eaeaea;
    border-radius: 2px;
    color: #333;
    font-size: 13px;
    line-height: 12px;
    margin-right: 5px;
    padding: 4px 5px;
    font-weight: 800;
   
    margin: 10px 0;
   
}
.chitiet .tron{
    border: 1px solid gray;
    width: 10px;
    height: 10px;
    border-radius:5px ;
    background-color: gray;
}
.chitiet p{
    padding-left: 15px;
    padding-bottom: 10px;
    font-size: 15px;
    color: gray;
}

.list_product_popular {
    margin-top: 30px;
    width: 100%;
    grid-template-columns: repeat(1fr, 5);
   
}
/*--------------------------------------------Banner Footer----------------------------*/
.banner_footer {
    margin-top: 100px;
    width: 100%;
}

.banner_footer img {
    width: 100%;
}
.service_pay {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

.service {
    margin-top: 25px;
    margin-right: 25px;
    margin-left: 25px;
    padding-top: 35px;
    width: 300px;
    height: 200px;
    border: 1px solid rgb(224, 221, 221);

}

.service>h2,
p {
    margin-top: 15px;
}

.service p {
    font-size: 17px;
}

.service:hover .icon {
    background-color: #91c32f;
    color: white;
}

.service:hover h2 {
    color: #91c32f;
}

.service:hover {
    border-color: #91c32f;
}

.icon>i {
    margin-top: 30%;
    font-size: 20px;
}

.icon {
    width: 45px;
    height: 45px;
    border: 1px solid black;
    margin: auto;
}







