*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}
.container{
 
}
p img{
    border: 2px solid white;
}
p img:hover{
    border: 2px solid beige;
    cursor: pointer;
}
/* .img-ct img{
    transition: all 2s ease;
}
.img-ct img:hover{
    transform: scale(1.2);
    cursor: pointer;  
}
.img-ct .img-ct1{
    display: block;
    overflow: hidden;
} */

.body1{
    border-radius: 10px;
    border: 1px solid gray;
    background-color: white;
    width: 1000px ;
    margin: auto;
    margin-top: 220px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}
.text-ct button{
    border-radius: 5px;
    width: 60%;
    height: 50px;
    background: #ed1b24;
    border: 1px solid #ed1b24;
    color: white;
    font-size: 15px;
    font-weight: 600;
    margin-top: 10px;
}
.text-ct{
    margin-top: 60px;
}
.text-ct h3{
    font-size: 22px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.text-ct .price{
    width: 60%;
   margin: 10px 0; 
    background: linear-gradient(100deg,#ff424e,#fd820a);
    color: #fff;
    padding: 1px 10px 10px 10px;
    border-radius: 5px;
    height: 60px;
    padding: 2px 0;
    font-size: 24px;
    font-weight: 800;
    padding-left: 15px;
   
}
.price p{
    font-size: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.text-ct p{
    margin-top: 5px;
}
.text-ct .buy button{
    border-radius: 5px;
    width: 60%;
    height: 50px;
    background: #ed1b24;
    border: 1px solid #ed1b24;
    color: white;
    font-size: 15px;
    font-weight: 600;
    margin-top: 10px;
}
.ct-3{
    
    margin-top: 60px;
    height: 400px;
    border: 1px solid gray;
    border-radius: 10px;
    margin-right: 20px;
}
.ct-tuongtu{
    margin-top: 100px;
}
.list_product_popular {
    display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr ;
   gap: 30px;
   width: 100%;
   
}
.snip1583 {
    margin-top: 20px;
    font-family: 'Fira Sans Extra Condensed', Arial, sans-serif;
    position: relative;
    display: inline-block;
    overflow: hidden;
    margin: 10px;
    min-width: 230px;
    max-width: 315px;
    width: 100%;
    font-size: 16px;
    background-color: #fff;
    color: #111;
    line-height: 1.2em;
    text-align: left;
 
    border: 1px solid whitesmoke;
    border-radius: 10px;

}
.snip1583:hover{
    box-shadow: 5px 5px 8px #888888;

}

.snip1583 *,
.snip1583 *:before,
.snip1583 *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
}

.snip1583 img{
    max-width: 100%;
    vertical-align: top;
    transition: all 2s ease;
}
.snip1583 img:hover{
    transform: scale(1.2);
    cursor: pointer;
    
}
.snip1583 .img-zoom{
    display: block;
    overflow: hidden;
}
.snip1583 figcaption {
    padding: 10px;
}

.snip1583 h3 {
    font-size: 1.4rem;
    font-weight: 400;
    margin: 0 0 4px;
}
.snip1583 h5{
    position: relative;
    margin-top: -20px;
}

.snip1583 .price {
    margin: 8px 0;
    font-weight: 600;
    color: #4da3e2;
    font-size: 1.4rem;
    margin-left: 5px;
}

.snip1583 .icons {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.snip1583 .icons a {
    margin: 2px;
    opacity: 0;
    -webkit-transform: translateY(50%);
    transform: translateY(50%);
}

.snip1583 .icons a i {
    display: block;
    font-size: 23.52941176px;
    line-height: 40px;
    width: 40px;
    background-color: #ffffff;
    text-align: center;
    color: #000000;
}

.snip1583 .icons a i:hover {
    background-color: #4da3e2;
    color: #ffffff;
    cursor: pointer;
}

.snip1583:hover a,
.snip1583.hover a {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
}

.snip1583:hover a:nth-child(2),
.snip1583.hover a:nth-child(2) {
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s;
}

.snip1583:hover a:nth-child(3),
.snip1583.hover a:nth-child(3) {
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
}
